<footer>

  <div class="panel panel-default">
    <div class="panel-body">
      <span> Navigate To Our Portal: </span>
      <ul class="nav nav-pills">
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>


  <div class="wrapper">
    <p style="text-align:center">&copy; Relco Locomotives 2017 &emsp; 630-968-0670 &emsp; M1003 Certified</p>
  </div>
</footer>
