<footer class="site-footer">

  <div class="top-wrapper">
    <p>
      Navigate to our portal:
      <a href="http://www.relcolocomotives.net/employees.html" style="margin-left: 20px;"> Employees </a>
      <a href="{{site.baseurl}}/jobs/" style="margin-left: 20px;"> Candidates </a>
      <a href="http://www.relcolocomotives.net/vendor.html "style="margin-left: 20px;"> Vendors </a>
    </p>
  </div>

  <div class="wrapper">

    <p style="text-align:center">1001 Warrenville Rd. Lisle, IL 60532&emsp;630-968-0670&emsp;M1003 Certified</p>
    <p style="text-align:center">&copy; Relco Locomotives 2015 </p>


  </div>


</footer>
