<div class="col-md">
	<div id="site-carousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner" role="listbox">
			{% assign hasActive = false %}
			{% if page.slideshow %}
				{% for item in page.slideshow %}
				<div class="item {% if hasActive == false %} active {% assign hasActive = true %} {% endif %}">
					<img src="{{site.baseurl}}/images/slideshow/{{item.picture}}" alt="...">
				</div>
				{% endfor %}

			{% endif %}

			{% if page.override == null or page.override == false %}
				{% for page in site.pages %}
					{% if page.layout == 'picture' and page.picture %}
					<div class="item {% if hasActive == false %} active {% assign hasActive = true %} {% endif %}">
						<img src="{{site.baseurl}}/images/slideshow/{{page.picture}}" alt="...">
					</div>
					{% endif %}
				{% endfor %}
			{% endif %}
	  </div>
	</div>
</div>
