.page-nav {

  .menubar-mobile {
      display: none;
  }

  .page-link {
      color: $text-color;
      line-height: $base-line-height;

      // Gaps between nav items, but not on the first one
      &:not(:first-child) {
          margin-left: 20px;
      }
  }

  @include media-query($on-palm) {
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;

      .menubar-wrapper {
          clear: both;
          display: none;
      }

      .menubar-mobile {
          display: block;
      }

      .menubar {
          display: block;
          padding: 5px 10px;
          color: black;

          transition: background-color .5s
      }

      .menubar:hover{
        background: rgba(0,0,0, .2);
        text-decoration: none;
      }
  }

  @include not-media-query($on-palm) {

    .menubar-wrapper{
      font-size: 0;
      text-align:center;
    }

    .menubar{
      font-size: 16px;
      display:inline-block;
      color: black;
      padding-left: $spacing-unit;
      padding-right: $spacing-unit;

      border-left: 1px solid grey;

      margin: 0px;

      &:first-child{
        border-left: 0px;
        margin-left: 20px;
      }

      background: rgba(0,0,0,0);
      border-bottom: 1px solid clear;

      transition: background-color .5s

    }

    .menubar:link{
      text-decoration: none;
    }

    .menubar:hover{
      background: rgba(0,0,0, .2);
      text-decoration: none;
    }
  }
}
