#slideshow-wrapper{ //Slideshow
  margin-top:20px;
  //margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $grey-color-light;

  #slideshow{
     position: relative;

     width: $slideshow-width;
     //height: $slideshow-height;

     margin: 0px auto;

     background-color: $grey-color-light;
  }

  .slides{
     position: absolute;
     left: 0px;
     top: 0px;
     overflow: hidden;

     width: $slideshow-width;
     //height: $slideshow-height;


  }

  .slide{
    width: $slideshow-width;
    //height: $slideshow-height;

    img{
      display:block;
      margin:auto;
    }

  }

  .caption{
     position: absolute;
     bottom: 0px;
     left: 0px;
     width: 100%;
     height: 50px;
     background-color:rgba(0,0,0,0.5);
     color: White;
     font-size: 16px;
     font-weight: bold;
     line-height: 50px;
     text-align: center;
  }
}
