<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>

		<div id="header-color-bar" class="bg-brand"></div>
    {% include header.html %}

		<div class="jumbotron hidden-xs">
			<div class="container">
				<div class="col-sm-2 col-sm-offset-5">
					<a href="/"><img id="site-logo" class="img-responsive" src="{{site.baseurl}}/images/Logo.jpg"></img></a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row"> {% include slideshow.html %} </div>
			<div class="row"> {% include nav.html %} </div>
			<div class="row"> {{ content }} </div>
		</div>
		{% include footer.html %}

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

		<script type = "text/javascript" src="{{site.baseurl}}/scripts/main.js"></script>

		{% if page.js %}
			<script type="text/javascript" src="/scripts/{{ page.js }}" defer></script>
		{% endif %}
  </body>
</html>
